header {
  display: flex;
}
header button {
  position: relative;
  margin-left: auto;
  display: block;
  margin-bottom: 12px;
  background-color: transparent;
  border: none;
}
header button span {
  position: relative;
  z-index: 1;
  background-color: black;
  display: block;
  width: 35px;
  height: 2px;
  margin-bottom: 9px;
  transition: 1s;
}
header button span:last-child {
  margin-bottom: 0;
}

.menu-open span:nth-child(1) {
  transform: translateY(11px) rotate(135deg);
}
.menu-open span:nth-child(2) {
  transform: translateX(-16px) scaleX(0);
}
.menu-open span:nth-child(3) {
  transform: translateY(-11px) rotate(-135deg);
}
.menu-open div {
  opacity: 0.6;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: red;
  height: 100vh;
  transform: translateX(20px);
}

main section:last-child {
  position: relative;
  background-color: #686767;
  height: 150px;
  padding-top: 6px;
  border-radius: 0 30px;
}
main section:last-child ul {
  position: initial;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
}
main section:last-child ul li {
  position: absolute;
  background-color: white;
  width: 18%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  -webkit-animation-name: last-select;
          animation-name: last-select;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
main section:last-child ul li a {
  text-decoration: none;
  color: black;
}
main section:last-child ul li:first-child {
  top: 3%;
  left: 35%;
  padding: 10px 20px;
  border-radius: 20px 20px 70px 70px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
main section:last-child ul li:nth-child(2) {
  top: 52%;
  left: 23%;
  padding: 10px 10px 5px 5px;
  border-radius: 20px 5px 20px 70px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
main section:last-child ul li:last-child {
  top: 52%;
  right: 23%;
  padding: 10px 5px 5px 15px;
  border-radius: 5px 20px 70px 20px;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
main section:last-child > span {
  position: absolute;
  top: 6px;
  left: 7px;
  opacity: 0;
  -webkit-animation-name: last-select;
          animation-name: last-select;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
main section:last-child > span a {
  width: 32px;
  height: 32px;
  text-decoration: none;
}
main section:last-child > span a img {
  width: 32px;
  height: 32px;
  border-radius: 12px;
}
main section:last-child span:last-child {
  left: 52px;
}

@-webkit-keyframes last-select {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes last-select {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*# sourceMappingURL=index.css.map */